.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #babcbe;
  border-bottom: 1px solid #eee;
  padding: 12px 16px;
  text-align: right;
}

.header h1 {
  margin: 0;
  font-size: 24px;
  color: #333;
}

.header ul {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 15px;
}