* {
  box-sizing: border-box;
}

html {
  direction: rtl;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* מונע גלילה על כל המסך */
  font-family: Arial, sans-serif, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: right;
  background-color: #f4f4f4;
}